{% extends "base.html" %}

{% block content %}
    <main class="hero is-fullheight">
        <div class="hero-head">
            <header class="navbar">
                <div class="navbar-brand">
                    <a class="title navbar-item" href="{{url_for('home')}}">On The Fly</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="button is-link" href="{{url_for('auth.get_business_signup_page')}}">Business</a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-link" href="{{url_for('auth.get_customer_signup_page')}}">Customer</a>
                    </div>
                </div>
            </header>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">On The Fly</h1>
                <h2 class="subtitle">Save the time spent waiting</h2>
            </div>
        </div>
    </main>
{% endblock content %}