{% if account_type == 'business' %}
    {% set action_url = url_for('auth.login_business_user') %}
    {% set legend = 'Business Login' %}
    {% set signup_url = url_for('auth.get_business_signup_page') %}
{% else %}
    {% set action_url = url_for('auth.login_customer_user') %}
    {% set legend = 'Customer Login' %}
    {% set signup_url = url_for('auth.get_customer_signup_page') %}
{% endif %}

<div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <form action={{action_url}} method="POST" class="box">
            <fieldset>
                <legend class="title is-4">{{legend}}</legend>
                {% include "_common_login_form_fields.html" %}
            </fieldset>
        </form>
      </div>
    </div>
    <div class="container has-text-centered">
        <p>New account? <a href="{{signup_url}}">Signup</a></p>
    </div>
</div>