{% if account_type == 'BUSINESS' %}
    {% set legend = 'Business Login' %}
{% else %}
    {% set legend = 'Customer Login' %}
{% endif %}

{% set action_url = url_for('auth.login', account_type=account_type) %}
{% set signup_url = url_for('auth.signup', account_type=account_type) %}
{% set forgot_password_url = url_for('auth.forgot_password') %}
{% set button_value = 'Login' %}

{% extends "base.html" %} 
{% import "macros.html" as macros %}

{% block content %}
  {% include "_flash.html" %}

  {% include "_common_navbar.html" %}
  
    <div class="container">
        {{macros.render_generic_form(form, action_url, legend, button_value)}}
        <div class="container has-text-centered">
            <a href="{{forgot_password_url}}">Forgot Password?</a>
        </div>
        <div class="container has-text-centered">
            <a href="{{signup_url}}">Signup?</a>
        </div>
    </div>
{% endblock %}
