{% macro form_fields(form) %} 
    {% for field in form %}
        <div class="field">
            {% if field.type.lower() != 'csrftokenfield' %}
                {{field.label(class='label')}} 
                <div class="control">
                {% if field.type.lower() == 'passwordfield' %}
                    {{field(placeholder=field.description, class='input', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}')}}
                {% else %} 
                    {{field(placeholder=field.description, class='input')}}
                {% endif %}
                </div>
            {% else %}
                {{field}}
            {% endif %}
            {% if field.errors %} 
                {% for error in field.errors %} 
                    <p class="help is-danger">
                        {{error}}
                    </p>
                {% endfor %} 
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}


{% macro render_generic_form(form, action_url, legend, button_value) %} 
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <form action={{action_url}} method="POST" class="box">
                <fieldset>
                    <legend class="title is-4">{{legend}}</legend>
                    {{form_fields(form)}}                    

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">{{button_value}}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endmacro %}