{% if template_type == 'email' %}
  {% set action_url = url_for('auth.email_verification') %}
  {% set button_value = 'Verify Code' %}
  {% set legend = 'Email Verification Code' %}
{% else %}
  {% set action_url = url_for('auth.mobile_verification') %}
  {% set button_value = 'Verify Code' %}
  {% set legend = 'Mobile Verification Code' %}
{% endif %}


{% extends "base.html" %} 
{% import "macros.html" as macros %}

{% block content %}
  {% include "_flash.html" %}

  {% include "_common_navbar.html" %}
  
  <div class="container">
    {{macros.render_generic_form(form, action_url, legend, button_value)}}
  </div>
{% endblock %}