{% extends "base.html" %} 
{% import "macros.html" as macros %}

{% block content %}
  {% include "_flash.html" %}

  {% include "_common_navbar.html" %}

  <div class="section">
    <div class="columns is-multiline">
        {% for business_item in business_items %} 
            <div class="column is-half">
                <div class="box is-clickable">
                    <h1 class="has-text-weight-semibold is-size-4 has-text-link-dark">{{business_item.name}}</h1>
                    <p class="is-size-5">{{business_item.description}}</p>
                    <p class="has-text-weight-semibold">{{business_item.price / 100}} INR</p>
                    <br>
                    <p class="is-size-6">Last Update At: {{business_item.updated_at}}</p>
                </div>
            </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}